@{
    ViewBag.Title = "Confirm Code";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@model AizenBankV1.Web.Models.VerificationCode

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include any necessary head elements here -->
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Confirm Code</h1>
                            </div>

                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.ErrorMessage
                                </div>
                            }

                            @using (Html.BeginForm("ConfirmCode", "Register", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <label for="Code">Enter the Verification Code</label>
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", placeholder = "Verification Code", maxlength = "20" })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })

                                <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
