@model AizenBankV1.Web.Models.UserLogin

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include any necessary head elements here -->
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Forgot Your Password?</h1>
                            </div>

                            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.ErrorMessage
                                </div>
                                
                            }

                            @using (Html.BeginForm("ForgotPassword", "Register", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <label for="Credential">Enter Your Email</label>
                                @Html.TextBoxFor(model => model.Credentials, new { @class = "form-control", placeholder = "Email or Phone", maxlength = "30" })
                                @Html.ValidationMessageFor(model => model.Credentials, "", new { @class = "text-danger" })

                                <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
