
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<AizenBankV1.Domain.Entities.Card.CardMinimal>


<style>

    .card-info {
        border-radius: 10px;
        filter: drop-shadow(0 5px 10px 0 #ffffff);
        width: 500px;
        height: 400px;
        background-color: #ffffff;
        padding: 20px;
        position: relative;
        z-index: 0;
        overflow: hidden;
        transition: 0.6s ease-in;
    }

        .card-info::before {
            content: "";
            position: absolute;
            z-index: -1;
            top: -15px;
            right: -15px;
            background: #7952b3;
            height: 220px;
            width: 25px;
            border-radius: 32px;
            transform: scale(1);
            transform-origin: 50% 50%;
            transition: transform 0.25s ease-out;
        }

        .card-info:hover::before {
            transition-delay: 0.2s;
            transform: scale(40);
        }

        .card-info:hover {
            color: #ffffff;
        }

        .card-info p {
            padding: 10px 0;
        }
</style>


<div class="container-fluid">
    <!-- Content Row -->
    <div class="row" style="display: flex;">
        @if (Model.Count >= 1)
        {
            <!-- Earnings (Monthly) Card Example 1 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @Model[0].Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model[0].MoneyAmount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- Earnings (Monthly) Card Example 1 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Inexistent Card
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$$$$</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if (Model.Count >= 2)
        {
            <!-- Earnings (Monthly) Card Example 2 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @Model[1].Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model[1].MoneyAmount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- Earnings (Monthly) Card Example 2 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Inexistent Card
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$$$$</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }


        @if (Model.Count >= 3)
        {
            <!-- Earnings (Monthly) Card Example 3 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @Model[2].Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model[2].MoneyAmount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- Earnings (Monthly) Card Example 3 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Inexistent Card
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$$$$</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (Model.Count >= 4)
        {
            <!-- Earnings (Monthly) Card Example 4 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    @Model[3].Name
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$@Model[3].MoneyAmount</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!-- Earnings (Monthly) Card Example 4 -->
            <div class="col-xl-3 col-md-6 mb-4" style="flex: 0 0 calc(25% - 20px); max-width: calc(25% - 20px); margin-right: 20px;">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Inexistent Card
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">$$$$</div>
                            </div>
                            <div class="col-auto">
                                <i class="fa-solid fa-money-bill-1 fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col" style="flex: 0 0 calc(33.33% - 20px); max-width: calc(33.33% - 20px); margin-right: 20px;">
            <div class="card-info">
                <h4>General Info about Online Banking</h4>
                <p>Online banking has revolutionized the way we manage our finances, offering unparalleled convenience and accessibility. With just a few clicks or taps, users can check their account balances, review transaction history, pay bills, and even apply for loans or investments. This digital evolution has made traditional brick-and-mortar banking seem outdated by comparison, allowing customers to conduct their financial affairs from the comfort of their homes or on the go. However, it's essential to prioritize security when engaging in online banking to safeguard sensitive information and prevent unauthorized access to accounts.</p>
            </div>
        </div>

        <!-- Card Info 2 -->
        <div class="col" style="flex: 0 0 calc(33.33% - 20px); max-width: calc(33.33% - 20px); margin-right: 20px;">
            <div class="card-info">
                <h4>Introduction to AizenBank</h4>
                <p>Welcome to AizenBank, your digital financial hub designed to simplify and streamline your banking experience. At AizenBank, we prioritize customer convenience, offering a comprehensive suite of services to meet your every need. Whether you're looking to deposit funds, withdraw cash, transfer money to friends and family, or make local transactions, our intuitive platform makes managing your finances effortless. With state-of-the-art security measures in place, you can trust AizenBank to keep your information safe and secure while providing you with the flexibility and control you deserve.</p>
            </div>
        </div>

        <!-- Card Info 3 -->
        <div class="col" style="flex: 0 0 calc(33.33% - 20px); max-width: calc(33.33% - 20px);">
            <div class="card-info">
                <h4>Ensuring Security in Online Banking</h4>
                <p>As the convenience of online banking continues to reshape the financial landscape, it's crucial to remain vigilant about security threats lurking in cyberspace. Protecting your sensitive information from hackers and fraudsters requires a proactive approach, including the use of robust passwords, encryption technology, and multi-factor authentication. Additionally, be cautious of phishing attempts and never share personal or account details via email or text message. By staying informed and practicing good cyber hygiene, you can enjoy the benefits of online banking with confidence, knowing that your financial well-being is safeguarded.</p>
            </div>
        </div>
    </div>
</div>

